@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;300;500;500;600;700;800;900&family=Libre+Baskerville:ital@1&display=swap');


/*NOISE*/

.noise1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  pointer-events: none;
  opacity: 0.07;
  z-index: 1000;
  pointer-events: none;
}

.noise2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  pointer-events: none;
  opacity: 0.07;
  z-index: 1000;
  pointer-events: none;
}

/*GENERAL*/

body {
  --text-color: #000;
  --bkg-color: #F5D986;
  --ex-color: #000;
  --bkg-linear: linear-gradient(0deg, rgba(245, 217, 134, 0) 0%, rgba(245, 217, 134, 1) 100%);
  --bkg-linear-reverse: linear-gradient(0deg, rgba(245, 217, 134, 1) 0%, rgba(245, 217, 134, 0) 100%);
}

body.dark-theme {
  --text-color: #1C46C5;
  --bkg-color: #FAFDF6;
  --ex-color: #1C46C5;
  --bkg-linear: linear-gradient(0deg, rgba(250, 253, 246, 0) 0%, rgba(250, 253, 246, 1) 100%);
  --bkg-linear-reverse: linear-gradient(0deg, rgba(250, 253, 246, 1) 0%, rgba(250, 253, 246, 0) 100%);
}

@media (prefers-color-scheme: dark) {

  /* defaults to dark theme */
  body {
    --text-color: #1C46C5;
    --bkg-color: #FAFDF6;
    --ex-color: #1C46C5;
    --bkg-linear: linear-gradient(0deg, rgba(250, 253, 246, 0) 0%, rgba(250, 253, 246, 1) 100%);
    --bkg-linear-reverse: linear-gradient(0deg, rgba(250, 253, 246, 1) 0%, rgba(250, 253, 246, 0) 100%);
  }

  body.light-theme {
    --text-color: #000;
    --bkg-color: #F5D986;
    --ex-color: #000;
    --bkg-linear: linear-gradient(0deg, rgba(245, 217, 134, 0) 0%, rgba(245, 217, 134, 1) 100%);
    --bkg-linear-reverse: linear-gradient(0deg, rgba(245, 217, 134, 1) 0%, rgba(245, 217, 134, 0) 100%);
  }
}

body {
  background: var(--bkg-color);
  letter-spacing: 0.1px;
  height: 100vh;
}

.nav {
  color: var(--ex-color);
}

.nav.fixed-top {
  background: var(--bkg-linear);
}

.nav.fixed-bottom {
  background: var(--bkg-linear-reverse);
}

.nav a {
  color: var(--ex-color);
}

.menu a,
.mail a,
.intro,
.bio,
.menu,
.mail,
.portfolio,
.services {
  color: var(--text-color);
}


/*TOOLTIP*/

#TextHidden {
  display: none;
  margin-top: 20px;
  margin-left: 20px;
}

#box:hover #TextHidden {
  display: block;
}


/*NAV*/

.nav {
  padding: 72px;
  z-index: 200;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  padding: 0px;
  line-height: 1.3;
}

.nav-right {
  display: inline-flex;
}

.nav-link-right {
  width: 200px;
  margin-left: 150px;
}

.last {
  width: 90px;
}

a {
  cursor: pointer;
}

.nav a:hover {
  opacity: 0.5;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


/*FONT*/

.epilogue {
  font-family: 'Epilogue', sans-serif;
}

.libre {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

.testo-big {
  font-size: 76px;
  line-height: 1.2;
}

.testo-medium {
  font-size: 48px;
  font-weight: 500;
}

.testo-small {
  font-size: 18px;
  font-weight: 500;
}

.testo-xsmall {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-top: 55px;
}

.flex {
  display: flex;
}


/*FOOTER*/

.footer {
  font-size: 20px;
  font-weight: 500;
  margin: 72px;
}


/*SECTIONS*/

.intro {
  margin: 45vh 72px;
  width: 80%;
}

.bio {
  width: 790px;
  margin-left: auto;
  margin-right: 72px;
}

.menu {
  margin: 45vh 72px;
}

.portfolio {
  cursor: pointer;
}

.portfolio:hover {
  opacity: 0.5;
}

.riga {
  border-top: 1px solid;
}

.mail {
  width: 790px;
  margin-left: auto;
  margin-right: 72px;
  height: 70vh;
}


/*RESPONSIVE*/

@media (max-width: 1700px) {

  .intro {
    width: 85%;
  }

}

@media (max-width: 1600px) {

  .intro {
    width: 89%;
  }

}

@media (max-width: 1500px) {

  .testo-big {
    font-size: 66px;
  }

  .testo-xsmall {
    padding-top: 45px;
  }

}

@media (max-width: 1300px) {
  .intro {
    width: 89%;
  }

  .testo-big {
    font-size: 58px;
  }

  .testo-xsmall {
    padding-top: 35px;
  }

  .testo-medium {
    font-size: 40px;
  }

  .nav {
    padding: 48px;
  }

  .nav-link-right {
    width: 200px;
    margin-left: 100px;
  }

  .last {
    width: 90px;
  }

  .bio,
  .mail {
    width: 690px;
    margin-left: auto;
    margin-right: 48px;
  }

  .intro,
  .menu {
    margin: 45vh 48px;
  }

}


@media (max-width: 1150px) {
  .intro {
    width: auto;
  }

  .testo-big {
    font-size: 48px;
  }

  .testo-xsmall {
    padding-top: 30px;
    font-size: 12px;
  }

  .testo-medium {
    font-size: 48px;
  }

  .nav {
    padding: 48px;
  }

  .nav-link {
    font-size: 14px;
  }

  .testo-small {
    font-size: 14px;
  }

  #box:hover #TextHidden {
    display: none;
  }

  .hide {
    visibility: hidden;
    width: 0px;
    margin-left: 0px;
  }

  .last {
    width: 90px;
  }

  .bio,
  .mail {
    width: auto;
    margin-left: 48px;
    margin-right: 48px;
  }

  .intro,
  .menu {
    margin: 45vh 48px;
  }

}

@media (max-width: 1000px) {
  .testo-big {
    font-size: 40px;
  }

  .testo-xsmall {
    padding-top: 25px;
  }

  .testo-medium {
    font-size: 40px;
  }

}


@media (max-width: 800px) {
  .testo-big {
    font-size: 30px;
  }

  .testo-xsmall {
    padding-top: 15px;
  }

  .testo-medium {
    font-size: 30px;
  }

  .intro {
    margin: 180px 48px 100px 48px;
  }

  .menu {
    margin: 100px 48px;
  }

  .mail {
    height: 250px;
  }

}

@media (max-width: 630px) {

  .testo-big,
  .testo-medium {
    font-size: 22px;
  }

  .testo-xsmall {
    padding-top: 10px;
  }

  .nav {
    padding: 32px;
  }

  .bio,
  .mail {
    width: auto;
    margin-left: 32px;
    margin-right: 32px;
  }

  .intro,
  .menu {
    margin: 90px 32px;
  }

  .intro,
  .menu {
    padding-top: 50px;
  }

}