@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-image: url("./assets/bg-home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  letter-spacing: 0.2px;
  color: #000000;
}

a{
  cursor: pointer;
}

.nav {
  margin: 48px;
}

.footer {
  padding: 100px 48px 48px 48px;
}


.nav-right {
  display: inline-flex;
}

.nav-link {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  padding: 0;
  margin-top: -4px;
}

.nav-link:hover {
  transform: translate(0, -5px);
}

.menu-container {
  margin: 200px 300px 0 200px;
}


/*MENU*/

.intro {
  color: #000000;
}

.menu-hover {
  cursor: pointer;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  color: #000000;
}

.menu-hover:hover {
  transform: translate(30px, 0);
}

.menu-voce {
  margin: 40px 0 0 0;
  display: flex;
  position: relative;
}

.testo-small {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.testo-small-bold {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.hello {
  padding-top: 40px;
}

.titolo {
  padding-top: 150px;
}

.col{
  margin-right: 0px;
}

.row{
  padding: 30px 0 0 0;
}

.freccia-small {
  padding-left: 12px;
  padding-bottom: 2px;
  height: 12px;
}

.testo-medium {
  font-family: "Gilda Display", serif;
  font-weight: 300;
  font-size: 60px;
  width: 100%;
  left: 120px;
  position: relative;
}

.testo-big {
  font-family: "Gilda Display", serif;
  font-weight: 300;
  font-size: 64px;
  width: 100%;
  position: relative;
  line-height: 1.2;
}

.testo-small-l {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  align-content: flex-start;
  position: absolute;
  bottom: 25px;
  left: 0;
}

.testo-small-m {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  position: absolute;
  bottom: 25px;
  margin-left: 50px;
}

.testo-small-r {
  font-family: "Work Sans";
  font-weight: 300;
  font-size: 64px;
  align-content: flex-end;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.riga {
  border-top: 0.1px solid;
}

a {
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

.ig-post{
  height: 100%;
  width: 100%;
  border: 1px solid #000;
}

.col-ig{
  padding: 0 12px;
}

.row-ig{
  padding: 12px 3px;
}

@media (max-width: 1200px) {
.menu-container {
  margin: 200px 46px 0 46px;
}
}

/*MOBILE*/
@media (max-width: 800px) {

  body {
    background-image: url("./assets/bg-home-mobile.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  letter-spacing: 0.2px;
  color: #000000;
  }

  .nav {
    margin: 26px;
  }

  .menu-container {
    margin: 70px 24px 35px 24px;
  }

  .testo-big {
    font-size: 34px;
  }

  .testo-medium {
    font-size: 32px;
  left: 0px;
  }

  .testo-small-l {
    display: none;
  }

  .testo-small{
    font-size: 14px;
  }

  .testo-small-bold{
    font-size: 14px;
  }

  .nav-link{
    font-size: 14px;
  }

  .testo-small-m{
    display: none;
  }

  .footer {
    padding: 24px;
  }

  .bottoni{
    display: none;
  }

  .freccia {
    display: none;
  }

  .menu-hover:hover {
    transform: none;
  }

  .flex{
    display: inline-flex;
  }

  .skills-container{
    display: block;
  }

  .skills, .contatti{
    padding-bottom: 15px;
  }


  .contatti-container{
    display: block;
  }

  .testo-small {
    font-size: 15px;
  }
  
  .testo-small-bold {
    font-size: 15px;
  }

  .row{
    padding: 7px 0 25px 0;
  }

  .col-ig{
    padding: 0 3px;
  }
  
  .row-ig{
    padding: 3px 12px;
  }

  .menu-voce {
    margin: 30px 0;
    display: flex;
    position: relative;
  }

  .titolo {
    padding-top: 60px;
  }

  .hello {
    padding-top: 20px;
    padding-bottom: 35px;
  }

}
